.nav_button {
  display: inline-block;
  /* width: 80px; */
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: Jost;
  text-decoration: none;
  list-style: none;
}

.nav_button:after {
  display: block;

  content: "";
  width: inherit;
  border-bottom: solid 3px #2c3e50;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav_button:hover:after {
  transform: scaleX(1);
}

.nav_button.from-left:after {
  transform-origin: left;
}

.nav_button.from-right:after {
  transform-origin: right;
}
.text {
  font-family: Jost;
  color: #2c3e50;
}
.logo {
  list-style: none;
  transition: all 0.2s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
.avatar {
  border: 2px solid #2c3e50;
}

.banner {
  background: url("../../../public/asset/images/landing.jpg");
  background-position: center;
  /* background: #2c3e50; */
  background-color: black;
}

.landingBtn {
  font-family: Jost;
  color: #2c3e50;
}
.landingBtn:hover {
  background-color: #2c3e50;
  color: #fff;
}
.socialIcon {
  transition: all 0.2s ease-in-out;
}
.socialIcon:hover {
  transform: scale(1.1);
}
